@using Microsoft.AspNet.Identity
@using Yogiram.core.Extensions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Theme/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="~/Theme/assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Register</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <meta name="viewport" content="width=device-width" />

    <link href="~/Theme/assets/css/bootstrap.min.css" rel="stylesheet" />

    @*<link href="~/Theme/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />*@

    <link href="~/Theme/assets/css/material-dashboard.css?v=1.2.1" rel="stylesheet" />

    <link href="~/Theme/assets/css/demo.css" rel="stylesheet" />

    <link href="~/Theme/assets/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Theme/assets/css/css.css" rel="stylesheet" />

    <script src="~/Theme/assets/js/Custom.js"></script>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <div class="wrapper">

        <div class="sidebar" data-active-color="green" data-background-color="red" data-image="/Theme/assets/img/sidebar-1.jpg">
            <!--
                Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
                Tip 2: you can also add an image using data-image tag
                Tip 3: you can change the color of the sidebar with data-background-color="white | black"
            -->
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                    ST
                </a>
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    stvat consulting
                </a>
            </div>
            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <i class="material-icons">apps</i>
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                Modules
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="clearfix"></div>

                        @{var toolbox = ViewBag.MenuItems as List<Yogiram.core.Models.MenuItem>; }

                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="@Url.Content("~/Attandance/Home")">
                                        <span class="sidebar-mini"> AS </span>
                                        <span class="sidebar-normal">Attandance System</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/Manage/Home")">
                                        <span class="sidebar-mini"> MG </span>
                                        <span class="sidebar-normal"> Manage </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Content("~/EIM/Home")">
                                        <span class="sidebar-mini"> EM </span>
                                        <span class="sidebar-normal"> Employee Management </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <ul class="nav">

                    @{ var MainMenuIds = ViewBag.MainMenus; }

                    @foreach (var MenuItem in MainMenuIds)
                    {
                        var SubMenus = toolbox.Where(a => a.ParentId == MenuItem.MenuId).ToList();

                        <li>
                            <a data-toggle="collapse" href="#@MenuItem.MenuName">

                                <i class="material-icons">image</i>
                                <p>  @MenuItem.MenuName <b class="caret"></b> </p>

                            </a>

                            <div class="collapse" id="@MenuItem.MenuName">
                                <ul class="nav">

                                    @foreach (var SubMenuItem in SubMenus)
                                    {
                                        <li>
                                            <a href="@Url.Content(@SubMenuItem.Url)">
                                                <span class="sidebar-mini"> P </span>
                                                <span class="sidebar-normal"> @SubMenuItem.MenuName </span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="main-panel" style="overflow-y:auto">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                            <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                            <i class="material-icons visible-on-sidebar-mini">view_list</i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            Welcome,
                            <span style="font-weight:bolder;color:initial;">
                                @if (User.Identity.IsAuthenticated)
                                {  @Session.GetDisplayName();
                                }
                            </span>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">3</span>
                                    <p class="hidden-lg hidden-md">
                                        Modules
                                        <b class="caret"></b>
                                    </p>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="~/Attandance/Home"> Attandance</a></li>
                                    <li><a href="~/Manage/Home">Manage</a></li>
                                    <li><a href="~/EIM/Home">EIM</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">person</i>
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>

                                <ul class="nav nav-pills nav-pills-warning nav-pills-icons dropdown-menu" id="navpills" style="display: inline-flex;" role="tablist">
                                    <li class="active">
                                        <a href="~/Attandance/Home" role="tab" data-toggle="tab" style="padding:0px;padding-bottom: 17px">
                                            <i class="material-icons">schedule</i> Attendance
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="~/EIM/UserRegistrationsd" role="tab" data-toggle="tab" style="padding:0px;padding-bottom: 17px">
                                            <i class="material-icons">schedule</i> EIM
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="~/Manage/Home" role="tab" data-toggle="tab" style="padding:0px;padding-bottom: 17px">
                                            <i class="material-icons">schedule</i> Manage
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="~/Theme/assets/img/faces/avatar.jpg" style="width: 34px;border-radius: 20px;margin-top: -7px" />
                                    <p class="hidden-lg hidden-md">Profile</p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">My Profile</a></li>
                                    <li><a href="@Url.Content("~/EIM/Home/PasswordReset")">Change password</a></li>
                                    <li><a href="@Url.Content("~/Account/LogOff")">Sign Out</a></li>
                                </ul>
                            </li>

                            <li class="separator hidden-lg hidden-md"></li>

                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group form-search is-empty">
                                <input type="text" class="form-control" placeholder=" Search ">
                                <span class="material-input"></span>
                                <div class="info">
                                    <div class="photo">

                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>

            @RenderBody()

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portofolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.creative-tim.com"> Creative Tim </a>, made with love for a better web
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>

<script>

    $(document).ready(function () {

        var url = window.location.href;

        $('ul.nav li a').each(function () {

            if (this.href == url) {

                $("ul.nav li").each(function () {
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                    }
                });

                $(this).parent().addClass('active');
                $('ul.nav li.active').parent().parent().parent().find('.collapse').addClass('in')

            }
        });
    });


</script>
